{% extends "base.html.twig" %}

{% block body %}

    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('app_carousel') }}">Carousel</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('app_home_page') }}">Home</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>


        <table id="articles" class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Telefone</th>
                <th scope="col">Localidade</th>
                <th scope="col">Mensagem</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            {% for article in articles %}
            <tbody>
            <tr>
                <th scope="row">{{ article.id }}</th>
                <td>{{ article.nome }}</td>
                <td>{{ article.email }}</td>
                <td>{{ article.telefone }}</td>
                <td>{{ article.localidade }}</td>
                <td>{{ article.mensagem }}</td>
                <td>
                    <a href="/article/edit/{{ article.id }}" class="btn btn-primary">Update</a>
                    <a href="/article/delete/${id}/{{ article.id }}" class="btn btn-danger delete-article" data-id="{{ article.id }}">Delete</a>
                </td>
            </tr>
            </tbody>
            {% endfor %}
        </table>


{% endblock %}